body{
margin:0;
background:#0c1c35;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
font-family:sans-serif;
}

.phone{
width:340px;
height:640px;
background:#081426;
border-radius:30px;
padding:20px;
}

.screen{
text-align:center;
color:white;
}

.hidden{
display:none;
}

button{
margin-top:15px;
padding:10px 15px;
border:none;
border-radius:10px;
background:#2b6cff;
color:white;
}

.card{
background:white;
color:black;
border-radius:18px;
padding:15px;
}

.cardTop{
display:flex;
gap:15px;
}

.photo{
width:90px;
height:110px;
background:#ccc;
border-radius:10px;
}

.qr{
margin-top:20px;
height:120px;
background:repeating-linear-gradient(
45deg,
black,
black 5px,
white 5px,
white 10px
);
}
